/* Footer.css */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #333;
}

.footer-button {
	flex: 1;
	padding: 10px;
	color: #fff;
}
